{{#each this}}
<h1 class="country__tittle"><img class="country__flag"  width="60" src="{{flags.svg}}">{{name.common}}</h1>
<p class="country__item"><span class="country__item-title">Capital:</span>{{capital}}</p>
<p class="country__item"><span class="country__item-title">Population:</span>{{population}}</p>
<p class="country__item"><span class="country__item-title">Languages:</span>{{languages}}</p>
{{/each}}